/* css reset */
@charset "utf-8";
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, img, a,
ol, ul, li,
form, label,
table, tbody, tfoot, thead, tr, th, td,
article,footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  list-style: none;
  text-decoration: none;
  vertical-align: baseline;
}

/* 共通CSS */
html {
    font-family: sans-serif;
    min-height: 100%;
    position: relative;
}
.footer{
    width: 100%;
    margin: 0 auto;

}
.footer p{
    padding-right: 20px;
}
.container {
   max-width: 1100px;
   margin: 0 auto;
   padding: 0 15px; 

}
.container svg{
    width: 70%;
}
a:hover {
    opacity: 0.6;
    cursor: pointer;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.wrapper {
    width: 70%;
    padding: 80px 0 30px;
    margin: 0 auto;
}

    .wrapper-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .wrapper-title p {
        color: #4c586f;
    }

    .last-wrapper {
        margin-bottom: 80px;
    }

/* header */
header {
    height: 60px;
    position: fixed;
    z-index: 2; 
    width: 100%;
    background-color: rgba(62, 62, 62, 0.3);
}
.header-logo a{
    color: white;
    font-size: 50px;
}



    .sp-menu {
        display: none;
    }

    #logo {
        width: 120px;
    }

    .header-logo a{
        float:left;
        line-height: 60px;
        padding-right: 15px;
        font-size: 30px;
    }

    .header-logo a:hover{
        opacity: 1;
    }

    .menu a {
        line-height: 60px;
        color: #fff;
    }

    .menu-left a{
        float: right;
        padding-right: 15px;
    }

   
/* top-img */
.top-img {
    height: 100vh;
    width: 100%;
    /*background-image: url("img/bg.png");
    background-size: cover;
    background-position: center */
    position: relative;
    background:linear-gradient(45deg, #3bade3,#9844b7,#f781fd);
    /* background:#333; */
	background-size: 200% 200%;
	animation: bggradient 15s ease infinite;
}

@keyframes bggradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.top-text {
    color: #333;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    border-radius: 50px;
    box-shadow: 4px 7px 10px -8px rgba(0, 0, 0, 0.3);
    line-height: 2;
    letter-spacing: 2px;
}
.profile p{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 6px;

}
.top-text p{
    
 margin: 0;
}
.top-text img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.top-text svg{
    position:absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 120px;
}

.area{
    overflow: hidden;
  }
  .wrap{
    display: flex;
  }
  .item{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
  }

/*  .item04{ background:linear-gradient(45deg, #a2c561,#8cc561,#65c561);
 }
  .item05{ background:linear-gradient(45deg, #7fd462,#5aa748,#499625);
}
  .item06{ background:linear-gradient(45deg, #5fb550,#438139,#2d791f);
}
*/

.item04, .item05, .item06{ background:#333;}

.scrolldown1{

  position:absolute;
  top:90%;
  right:85px;
  height:50px;
  
}

.scrolldown1 span{

  position: absolute;
  left:-55px;
  top: -8px;
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}



.scrolldown1::after{
  content: "";

  position: absolute;
  top: 0;
left: -10px;
  width: 40px;
  height: 1px;
  background: #eee;
  animation: pathmove 2.5s ease-in-out infinite;
  opacity:1;
}
@keyframes pathmove{
    0%{
      width:0;

      opacity: 0;
    }
    30%{
      width:40px;
      opacity: 1;
    }
    100%{
      width:0;

      opacity: 0;
    }
  }


   
.js-text{
    opacity: 0;
    transform: translateY(20px);
    color: #ffffff;

}
   
.js-text a{
    position: relative;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
}

.jp{
    position: absolute;
    top: 375px;
    font-family: sans-serif;
    font-size: 1rem;
}

/*gallery*/
.compe-nenga img{
 margin: 0 auto;
}
.web-midashi{
font-family: 'Playfair Display', serif;
font-size: 1.1rem;
letter-spacing: 1px;
margin:0 auto ;
    background: #c8a753;
    color: white;
    padding: 20px;
    max-width: 500px;
}
.web-midashi2{
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin:0 auto ;
    }
    
.gallery h2,
.marketing h2,
.other h2{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
    margin: 0 auto;
}
.gallery p,
.marketing p,
.other p{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin:0 auto ;
}
.dli-chevron-down {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1;
    width: .5em;
    height: .5em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
    margin-left: 20px;
  }

.gallery-nenga{
    max-width: 980px;
    margin: 0 auto;
    padding: 40px;
}
.compe-nenga{
    padding: 20px;
    border-radius: 3px;
    box-shadow: 4px 7px 10px -8px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    margin-top: 120px;
}
.gallery-category{
    max-width: 1080px;
    margin: 110px auto 0;
    text-align: center;
}
.gallery-category img{
    width: 60%;
    padding: 40px;
   
}
.img-flex{
    display: flex;
    justify-content: space-around;
}
.img-flex img{
    width: 45%;
    object-fit: contain;
}
.img-flex p{
    font-size: 0.6rem;
    text-align: center;
}
/* labelベース*/
.brand-wrapper{
    width: 100%;
    margin-bottom: 300px;
}
.gallery-toggle {
	display: none;
}
.gallery-text{
    font-family: sans-serif;
    font-size: 1.3rem;
    color: #333;
    letter-spacing: 0.5px;
    font-weight: bold;
}
.gallery-text:hover{
    color: #5a5a5a;
}
.Label {		/*タイトル*/
	padding: 2.5em;
	display: block;
	color: #fff;
	background:#efefef;
}
.Label:hover{
    
    cursor: pointer;
}
.Label::before{		
	content:"";
	width: 6px;
	height: 6px;
	border-top: 2px solid #333;
	border-right: 2px solid #333;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 20px;
	transform: rotate(135deg);
}
.Label,
.brand-content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
  
}
.brand-content p{
    font-size: 1rem;
    padding-bottom: 10px;

}
.brand-content p a{
    color:#838383;
}
.brand-content {		/*本文*/
	height: 0;

	padding:0 20px;
	overflow: hidden;
}

.gallery-toggle:checked + .Label + .brand-content {	
	height: auto;
	padding:10px 20px 20px;
	transition: all .3s;
    background-color:#efefef;
}
.img-hover:hover{
    transform:scale(1.2);
    transition:0.3s;
}
/* .brand-content img:hover{
    transform:scale(1.2);
    transition:0.3s;

} */
.gallery-toggle:checked + .Label::before {
	transform: rotate(-45deg) !important;
}


a.btn_13 {
	display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: center;
	text-decoration: none;
	width: 160px;
	margin: auto;
	padding: .6rem 7rem;
	font-weight: bold;
	background: #fefff4;

	border-radius: 100vh;
	position: relative;
	transition: 0.5s;
}
a.btn_13::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	right: 1em;
	transform: translateY(calc(-50% - 2px)) rotate(45deg);
	width: 10px;
	height: 1px;
	background: #838383;
}
a.btn_13::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	width: 50px;
	height: 1px;
	background-color: #838383;
}
a.btn_13:hover {
	background: #fefff3;

}


.p_bold{
    text-align: left; font-weight: bold;
}

.brand-description p{
    font-size: .9rem;
}

/*print.html*/
.midashi{
    padding-top: 90px;
    padding-bottom: 50px;
  
    background: rgb(243, 243, 243);
    text-align: center;
    font-size: 25px;
    letter-spacing: 4px;
    font-family: 'Playfair Display', serif;
   
}
.midashi p{
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 3px;
}

.content{
    display: flex;
    position: relative;
    background: rgb(243, 243, 243);
    padding: 30px 10px 10px;
}
.index{
    position: absolute;
    top: 125px;
    width: 120px;
    height: 200px;
    padding: 20px;
    letter-spacing: 2px;
}
.index.fixed{    
    position: fixed;

    width: 240px;
}
.index li{
    font-size: .8em;
    line-height: 2;
}

.para.active{      
    color: rgb(0, 0, 0);
    /*background: rgb(37, 180, 251);*/
    border-radius: 5px;
}
.para.active::before{   
    content:"";
    display: inline-block;
    background:rgb(134, 201, 255);
  border-radius: 50%;
  width: 10px;
  height: 10px;

}
.novel{
    width: 70%;
    margin-left: 25%;

    width: calc(100% - 240px - 60px);
}

  .square_block {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
  }
  
  .square_wrap{
    border-radius: 8px;
    height: 350px;
    width: 42%;
    margin: 20px 50px 65px 0;
    background: rgba(0,0,0,0.1);
  }

  .square_header{
    display: flex;
    flex-wrap: wrap;
   
  }

  .square_body{
    padding: 1.1rem;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    height: 30px;
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
  }

  .square_p2{
    font-size: .75rem;
  }
  
  .square{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    position: relative;
    
  }
.square p{
    position: absolute;
    top:-7px;
    right: 3px;
    text-indent: 1em;
    color: #fff;
    text-shadow: rgb(149, 143, 143) 1px 0 3px;
    font-size: .75rem;
}
.square img{
    width:100%;
    height: 250px;
    object-fit: contain;
    left: 0;
    position: absolute;
    align-items: center;
    top: 5%;
}
.square img:last-of-type {
    opacity: 0;
    transition: opacity .7s;
  }

  .square:hover img {
    opacity: 1;
    /* transform:scale(1.3); */
    transition:0.3s;
  }

  .hover-item:hover img{
    transform:scale(1.3);
      transition:0.3s;
  }

  
.squarelast{
    height: 200px;
}

#grayDisplay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
    max-width: 100% !important;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
  
  #grayDisplay img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    max-height: 85%;
    height: 90%;
    object-fit: contain;
    
  }
  
  

/* web.html */
.web{
    height: 90vh;
    background-color: antiquewhite;
}

.web h2{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
    margin: 0 auto;
}

.web-img img{
    width: 100%;
    height: 600px;
    object-fit: contain;
}
.web p{
    padding-top: 50px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin:0 auto ;
}
.web-gallery{
    padding-top: 96px;
    padding-bottom: 150px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 30px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    max-width: 1280px;
}
.circle{
   
    width: 300px;
    height: 300px;
   border-radius: 50%;
    background-color: rgb(255, 255, 255);
    padding: 10px;

    object-fit: cover;
}

.cover-box{
    margin-top: 50px;
    position: relative; 
    overflow: hidden;
  
}
.dark-cover{
    opacity: 0; 
    width: 300px;
    height: 300px;
   border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #fff; 
    text-align: center; 
    transition:all 0.6s ease;  
    padding: 10px;
  }
  .dark-cover a{
    width: 300px;
    height: 300px;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  .dark-cover:hover{
    opacity: 1; 
  }

  .dark-cover a::after{
    content:'\f08e';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    
  }


  .border {
    border-top: dashed 1px antiquewhite;
    width: 80%;
    margin:0 auto;
  }
  
  .border_gallery {
    border-top: dashed 1px rgb(200, 200, 200);
    width: 80%;
    margin:120px auto 0;
  }
  .hr{
    width: 30% ;
    border-top: 1px solid #aaa;
    margin:15px auto 0;
  } 


  .marketing-project{
    background-color: #efefef;
    text-align: left;
    padding: 20px 40px 40px;
    font-size: .75rem;
    margin: 20px auto 0;
    width: 65%;
  }


/* footer */
footer {
    height: 80px;
    background-color: rgb(0, 0, 0);
    text-align: right;

    width: 100%;
    color: #fff;
    line-height: 80px;
}


@media screen and (min-width:661px) and (max-width:944px){
    .square_wrap{
        border-radius: 8px;
        height: auto;
        width: 42%;
        margin: 10px 20px;
        background: rgba(0,0,0,0.1);
      }
    
    
    .square {
        width: 100%;
        height: 300px;
        margin: 0 auto;
        border-radius: 8px;
        position: relative;
    }

    .square p{
        position: absolute;
        top:0px;
        right: 3px;
        text-indent: 1em;
        color: #fff;
        text-shadow: rgb(149, 143, 143) 1px 0 3px;
        font-size: .75rem;
    }

    .square_body{
        padding: 1.1rem;
        background-color: #fff;
        border-radius: 0 0 8px 8px;
        height: 80px;
        width: 100%;
        padding: 1rem 1rem 2rem 1rem;
      }
}

@media screen and (min-width:661px) and (max-width:818px){

    .square_wrap{
        border-radius: 8px;
        height: auto;
        width: 90%;
        margin: 15px auto;
        background: rgba(0,0,0,0.1);
      }
    
      .square_header{
        display: block;
       
      }


      .square p{
        position: absolute;
        top:0px;
        right: 3px;
        text-indent: 1em;
        color: #fff;
        text-shadow: rgb(149, 143, 143) 1px 0 3px;
        font-size: .75rem;
    }

    .square_body{
        padding: 1.1rem;
        background-color: #fff;
        border-radius: 0 0 8px 8px;
        height: 60px;
        width: auto;
        padding: 1rem 1rem 2rem 1rem;
      }

    .square{
        width: 90%;
        height: 275px;
        margin: 20px auto 0;
       
        border-radius: 8px;
        position: relative;
        
      }

}

@media screen and (max-width: 660px) {
.pc-menu{
    display: none;
}
    .sp-menu {
        margin: 0 auto;
        width: 90%;
        position: absolute;
        top: 60px;
        width: 100%;
        background: rgb(118, 118, 118);
        left: 0;
        z-index: 1;
        padding-top: 20px;
        
    }
    
    .sp-menu ul li{
        margin: 0 auto;
        text-align: center;
    }
    
    /* メニューボタン */
    
    
    .toggle {
        display: block;
        width: 35px;
        height: 30px;
        position: absolute;
        top: 15px;
        z-index: 2;
        right: 18px;
    }
    
    .toggle:hover {
        cursor: pointer;
    }
    
    .toggle span{
        display: block;
        height: 3px;
        background: #fff;
        position:absolute;
        width: 100%;
        top: 3px;
        left: 0;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;   
    }
    .toggle span:nth-child(1){
        top:0px;
    }
    .toggle span:nth-child(2){
        top:12px;
    }
    .toggle span:nth-child(3){
        top:24px;
    }

    .menu li{
        padding: 20px;
    }
    
/*profile*/
.sp-p{
    font-size: .8rem;
}    
/*gallery*/

.top-text{
    max-width: 300px;
    height: auto;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    border-radius: 50px;
    box-shadow: 4px 7px 10px -8px rgba(0, 0, 0, 0.3);
    line-height: 2;
}
    .top-text svg {
        position: absolute;
        left: 0;
        top: 155px;
        width: 120px;
        height: 120px;
    }

    .gallery-category img {
        width: 80%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .gallery-text {
        font-family: sans-serif;
        font-size: 1.1rem;
        color: #333;
    }
    
    .img-flex {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .img-flex p{
        font-size: .8rem;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    a.btn_13 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        text-decoration: none;
        width: 100%;
        margin: auto;
        padding: .5rem .5rem;
        font-weight: bold;
        background: #fefff4;
    
        border-radius: 100vh;
        position: relative;
        transition: 0.5s;
    }

    .brand-description p{
        font-size: .75rem;
    }

    /*print.html*/
    .item{
        height: 100vh;
        width: 100%;

        font-size: 50px;
        font-weight: bold;
        color: #fff;
      }
    .midashi{
    
        width: 100%;
        z-index: 1;
      

    }
    .content{
        position: relative;
        background: rgb(243, 243, 243);
        padding: 0;
    }
    .index{
    position: absolute;
    top:0px;
    height: auto;
    padding: 0;
    letter-spacing: 2px;
    width: 100%;
    z-index: 2;
    text-align: center;
    background: #fff;
    }
    .index.fixed {
        padding: 0;
        top: 7vh;
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 1;
        text-align: center;

    }

    .novel{
        margin:240px auto 0 ;
       width: 100%;
    }


    .square_wrap{
        border-radius: 8px;
        height: auto;
        width: 90%;
        margin: 15px auto;
        background: rgba(0,0,0,0.1);
      }
    
      .square_header{
        display: block;
       
      }


      .square p{
        position: absolute;
        top:0px;
       
        text-indent: 1em;
        color: #fff;
        text-shadow: rgb(149, 143, 143) 1px 0 3px;
        font-size: .75rem;
    }

    .square_body{
        padding: 1.1rem;
        background-color: #fff;
        border-radius: 0 0 8px 8px;
        height: 45px;
        width:auto;
        padding: 1rem 1rem 2rem 1rem;
      }

    .square{
        width:90%;
        height: 275px;
        margin: 20px auto 0;
       
        border-radius: 8px;
        position: relative;
        
      }


      /*web.html*/
      .web p{
        font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin:0 auto;

      }
      .web h2 {
        font-family: 'Playfair Display', serif;
        text-align: center;
        font-size: 2rem;
        letter-spacing: 3px;
        margin: 0 auto;
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 30px;
        width: 100%;
        height: 100%;
        justify-content: center;
        
    }
}

@media screen and (min-width: 1440px) {
.index{
    position: absolute;
    top: 125px;
    width: 120px;
    height: 200px;
    padding: 85px;
    letter-spacing: 2px;
}
}